### https://raw.github.com/github/gitignore/master/node.gitignore

lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt
.sass-cache
public/main.css*
public/vendor.js
public/whiteboard.js

bower_components
node_modules

