.whiteboard-container
  p
    button.grab grab
    button.clear clear
    button.edit-free drawing
    button.edit-rect rect
    button.edit-circle circle
    button.edit-line line
    button.edit-eraser eraser
    | /
    button.undo undo
    button.redo redo

  svg.whiteboard(width=640 height=320 style="background-color:white")

  p
    span tolelance:
    span.tolelance-value 2
    button.tolelance-plus +
    button.tolelance-minus -

    span stroke
    input.stroke-color(value="black")

    span fill
    input.fill-color(value="none")

  div.preview
    //- svg.preview(width=640 height=320 style="background-color:grey;")

